{% extends 'music/base.html' %}
{% block tiltle %}Album{% endblock %}



{% block body %}
    {% load staticfiles %}
    <img src="{{ album.album_logo.url }}"><br><br>
    <h2>{{ album.album_title }}</h2><br><br>
    <h3>Songs list are:</h3><br>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" >
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="{% static 'music/images/fav.ico' %}">
                {% endif %}
            </label><br>
        {% endfor %}
     <input type="submit" value="Favorite">
    </form>
{% endblock %}